:root {
  --font-normal: 14px;
  --font-small: 10px;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Bold.ttf");
}

body {
  color: darkturquoise;
}

main {
  padding: 20px;
}

.bg-dark {
  background-color: black;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.menu {
  display: flex;
  list-style: none;
}

.submenu {
  display: none;
  position: absolute;
  list-style: none;
  background: black;
}

li {
  padding: 10px;
}